{% extends "base.html" %}

{% block title %}About{% endblock %}

{% block content %}
<h1>About hNotes</h1>

<h2>What is hNotes?</h2>
<p>
	<b>hNotes</b> is a lightweight online notepad. You can view and edit your
	notes from everywhere!
</p>

<h2>Development</h2>
<p>
	<b>hNotes</b> was originally created for myself. I often transfered notes
	between my workplace, school and my home. So I came up with the idea to create
	a little online notepad.
</p>
<p>In April 2007 I began to realize my idea.</p>
<p>
	After a couple of years, I promptly forgot about it, and only rediscovered it
	sometimes in 2023. One year later, I decided to reimplement the tool using
	modern technologies.
<p>

<h2>Future</h2>
<p>
	The following Things I have in mind for future development:
	<ul>
		<li>more attributes (create-date, last edited, last viewed, who viewed, ....)</li>
		<li>sharing</li>
		<li>different levels of publishing (private/for friends/public)</li>
		<li>version history</li>
	</ul>
</p>
{% endblock %}
