<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{% block title %}{% endblock %} - hNotes</title>
    <link rel="stylesheet" href="/s/style.css" />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    {% block head %}{% endblock %}
  </head>
  <body>
    <nav>
      <a href="/login">Login</a>
      |
      <a href="/signup">Sign up</a>
    </nav>
    {% block content %}{% endblock %}
  </body>
</html>
